* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: montserrat;
  color: black;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  margin-top: 4%;
  background-image: url(techimage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.head {
  padding-top: 30px;
}

.container {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
}

.content {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}
.to-do {
  position: relative;
  right: 50px;
}
.buttons {
  display: flex;
  align-self: flex-end;
  margin-right: 10px;
}

.filter {
  margin-left: 10px;
}
header {
  background-color: white;
  height: 50px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
}
.title {
  line-height: 45px;
}

.LIST {
  line-height: 45px;
  font-size: 30px;
}
.nav-link li {
  display: inline-block;
  line-height: 45px;
  padding: 0px 20px;
}
.img-logo {
  margin-top: 10px;
  margin-left: 40px;
}
.img-bell {
  cursor: pointer;
  position: relative;
  left: 50px;
}
.img-bell:hover {
  color: #ff6f47;
  transition: all 0.5s ease;
  opacity: 0.5;
}
LABEL {
  margin-right: 30px;
}
.img-name {
  position: relative;
  left: 25%;
  line-height: 20px;
  top: 5px;
}
.drop {
  cursor: pointer;
  position: relative;
  left: 30%;
}
/* nav {
  padding: 0px;
  margin: 0 2px;
} */

section {
  background-color: #f1efdc;
  height: 650px;
}

.img-uche {
  border-radius: 50%;
  line-height: 50px;
  position: relative;
  top: 5px;
  left: 30px;
}
span {
  font-size: 15px;
  color: grey;
}
.drop {
  left: 150%;
  bottom: 75px;
  color: black;
}
.head {
  top: 45px;
  left: 50px;
}
.plus-sign {
  left: 84%;
  top: 8px;
  color: white;
  width: 32px;
  height: 32px;
  background: darkorange;
  border-radius: 50%;
  cursor: pointer;
  text-decoration: none;
  border: none;
}
.plus-sign:hover {
  background: #e9e8e2;
  color: #ff6f47;
}
.todo-img {
  margin-left: 120px;
  margin-bottom: 40px;
}
.filter {
  left: 85%;
  width: 80px;
  height: 32px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(212, 99, 212);
  color: white;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.filter:hover {
  background: #e9e8e2;
  color: rgb(212, 99, 212);
}
.fil-container {
  top: 20px;
}

@media screen and (max-width: 1060px) {
  .hidden {
    width: 300px;
    height: 300px;
    margin-top: 20px;
  }

  .img-uche {
    position: relative;
    left: 25px;
  }
  .img-bell {
    position: relative;
    left: 55px;
  }
  .img-name {
    width: 10px;
    padding-left: 0px;
  }
  .hidden h1 {
    font-size: 15px;
    margin-bottom: 50px;
    position: relative;
    bottom: 20px;
    left: 20px;
  }
  .fil-container {
    position: relative;
    top: 30px;
  }
  body {
    height: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
  }
  .todo-img {
    position: relative;
    right: 60px;
  }
  .todo-input {
    position: relative;
    bottom: 80px;
    left: 10px;
  }

  .todo-container {
    overflow: hidden;
  }
  .todo-button,
  .cancel-button {
    position: relative;
    bottom: 70px;
    left: 40px;
  }
  .buttons {
    position: relative;
    left: 20px;
    top: 10px;
    padding-bottom: 20px;
    padding-top: 10px;
  }
  .content {
    display: flex;
  }
  section {
    display: flex;
    height: 1800px;
  }
}

label {
  color: #4c4c4c;
  font-size: 16px;
  font-family: "poppins", sans-serif;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  bottom: 25px;
  left: 50px;
}

p {
  font-size: 12px;
  top: 5px;
  left: 20px;
  color: #4c4c4c;
}
.pending-btn {
  background-color: darkorange;
  padding: 5.5px;
  border: 0;
  color: white;
  padding-left: 10px;
  cursor: pointer;
  border-radius: 3px;
  margin-left: 6px;
  position: relative;
  top: 50px;
}
.trash-btn,
.complete-btn {
  background: #ff6f47;
  color: white;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 50%;
  margin-left: 7px;
  position: relative;
  top: 50px;
  padding: 5.5px;
}
.pending-btn:hover {
  transition: all 0.5s ease;
  opacity: 0.7;
}
.paragraph {
  color: white;
  top: 5px;
  font-size: 10px;
}
h2 {
  line-height: 45px;
}

.hidden {
  position: fixed;
  display: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1efdc;
  padding-bottom: 100px;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 100%;
}
h1 {
  padding-bottom: 50px;
}

form input,
form button {
  padding: 0.5rem;
  font: size 2rem;
  border: none;
  background: white;
}
form button {
  color: #4c4c4c;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: #4c4c4c;
  color: white;
}
.todo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.todo-list {
  min-width: 70%;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  flex-shrink: 1;
  overflow: hidden;
  user-select: none;
}
.todo {
  margin: 0.9rem;
  background: white;
  color: black;
  font-size: 1rem;
  height: 130px;
  width: 280px;
  flex-shrink: 1;
  justify-content: flex-start;
  align-items: center;
  transition: all 1s ease;
  flex-wrap: wrap;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  text-align-last: left;
  user-select: none;
}
.todo li {
  flex: 1;
  flex-shrink: 1;
}

.btn {
  color: #4c4c4c;
}
.complete-btn {
  background: rgb(245, 131, 245);
}
.todo-item {
  padding: 0rem 0.7rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

h1 {
  margin-top: 0;
}
